<h1 mat-dialog-title>Editar servicio</h1>
<div mat-dialog-content>
  <div class="w-full flex justify-center">
    <div class="flex flex-col max-w-[432px] w-full">
      <app-error-msg
        *ngIf="!(loading$ | async) && (error$ | async) as error"
        [error]="error"
      >
      </app-error-msg>

      <app-loading-bar *ngIf="loading$ | async"></app-loading-bar>
      <div class="grid grid-cols-1 gap-1" *ngIf="success$ | async as data">
        <h3>Nombre: {{ data.name }}</h3>
        <h3>Descripcion: {{ data.description }}</h3>
        <h3>Orden Minima {{ data.minOrder }}</h3>
        <h3>Orden Maxima: {{ data.maxOrder }}</h3>
        <h3>Velocidad: {{ data.speed }}</h3>
        <h3>Precio: {{ data.price }}</h3>
        <h3>
          Disponibilidad: {{ data.available ? "Disponible" : "No Disponible" }}
        </h3>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <div class="flex flex-row justify-end w-full gap-3">
    <button mat-stroked-button color="primary" mat-dialog-close>Cerrar</button>
  </div>
</div>
